apiVersion: v1
kind: Secret
metadata:
  name: service-postgres-secrets
  namespace: default
type: Opaque
data:
  POSTGRES_PASSWORD: {{ postgres.password | b64encode }}
  POSTGRES_USER: {{ postgres.username | b64encode }}